<main>
  <mat-progress-bar
    class="load-bar"
    mode="indeterminate"
    *ngIf="recipeService.searching"
  ></mat-progress-bar>
  <app-search></app-search>
  <mat-grid-list cols="1" rowHeight="180px" class="list">
    <mat-grid-tile *ngFor="let recipe of recipeService.recipes">
      <article>
        <div class="recipe-img" style="--bg: url({{ recipe.ImageUrl }})"></div>
        <section>
          <h2>{{ recipe.Title }}</h2>
          <small>{{ recipe.PreambleHTML }}</small>
          <div class="recipe-info">
            <div class="recipe-info__row">
              <star-rating
                [starType]="'svg'"
                [rating]="recipe.AverageRating"
                [readOnly]="true"
              ></star-rating>
              <span style="margin-left: 4px"
                >({{ recipe.NumberOfUserRatings }})</span
              >
            </div>
            <div class="recipe-info__row">
              <mat-icon aria-hidden="false" aria-label="Time icon"
                >schedule</mat-icon
              >
              {{ recipe.CookingTime }} |
              {{ recipe.IngredientCount }} ingredienser
            </div>
          </div>
        </section>
      </article>
    </mat-grid-tile>
  </mat-grid-list>
</main>
